.html, body{
    height: 100%;
}

.wrapper{
    overflow: hidden;
    min-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__content{
    flex: 1;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a{
    color: inherit;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}

.button{
    cursor: pointer;
}

.table{
    border-collapse: collapse;
    border-spacing: 0;
}

*{
    box-sizing: border-box;
}

.wrapper__content{
    position: relative;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

img {
    display: block;
    max-width: 100%;
}