.wrapper__content--main{
    background: url(../../image/background/background1.png) center top, url(../../image/background/background2.png) center bottom;
    background-repeat: no-repeat;
    background-color:#17191C;
    background-blend-mode: luminosity;
}

.container__hello{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    margin-bottom: 180px;
}

.hello__title{
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
    width: 55%;
}

.hello__subtitle{
    font-size: 21px;
    margin-bottom: 74px;
    margin-left: 2px;
}

.button{
    background: #8F00FF;
    border-radius: 5px;
    padding: 18px 39px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.button:hover{
    background: #741BBA;
    box-shadow: 0 0 5px 0 #741BBA;
}