.offers{
    margin-bottom: 115px;
}

.title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
}

.title--new:after{
    content:url(../../image/icons/new.png);
    margin-left: 9px;
    width: 42px;
    height: 41px;
}

.offers__list{
    display: flex;
    justify-content: space-between;
}

.offers__item{
    min-height: 450px;
    background: #fff;
    border-radius: 6px;
    width: calc(100% / 3 - 18px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.offers__header{
    min-height: 144px;
    margin-bottom: 0px;
}

.offers__content{
    padding: 27px 20px;
    color: #303030;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.offers__title{
    color: #000;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;    
}

.offers__features{
    display: flex;
    justify-content: space-between;
}

.offers__feature{
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.offers__feature:last-child{
    margin-right: 0px;
}

.offers__feature--img{
    margin: 0px 5px 0px 0px;
    display: flex;
    justify-content: flex-start;
}

.offers__feature--text{
    display: flex;
    justify-content: space-between;
    margin: 2px 0px 0px 0px;
}

.offers__text{
    font-size: 14px;
    margin-bottom: 43px;
    margin-top: 25px;
}

.button__light{
    display: flex;
    justify-content: flex-start;
    color: #8F00FF;
    text-decoration: none;
    width: 135px;
    height: 55px;
    background: #fff;
    border: 1px solid #8F00FF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 17px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: auto;
}

.button__light:hover{
    background: #8F00FF;
    color: #fff;
}

.button__light--active{
    background: #8F00FF;
    color: #fff;
}